@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --neon-purple: #ffffff;
  --neon-pink: #ff1493;
  --neon-blue: #00bfff;
  --neon-yellow: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-purple: var(--neon-purple);
  --color-neon-pink: var(--neon-pink);
  --color-neon-blue: var(--neon-blue);
  --color-neon-yellow: var(--neon-yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
